<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/code/" method="POST">
        <label>Language</label>
        <select name="Language">
            <option value="cpp">Cpp</option>
            <option value="py">Python</option>
        </select>
        <br>
        <textarea name="code" id="" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <% if (typeof response !== 'undefined') { %>
        <p><%= response %></p>
    <% } %>
</body>
</html>
